/*div{
    height: 50px;
    width: 50px;
    background-color: darkolivegreen; 
}

@media (width: 600px) {
    div {
        background-color: red;;
    }
}

@media (min-width: 600px) {
    div {
        background-color: blue;
    }
}

@media (max-width: 600px) {
    div {
        background-color: yellow;
    }
}

@media (min-width: 600px) and (max-width: 1000px) { 
    div {
        background-color: green;
    }
}*/

div {
    height: 200px;
    width: 200px;
    background-color: darkolivegreen;
}

@media (max-width: 300px) {
    div {
        background-color:green;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    div {
        background-color: pink;;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    div {
        background-color: red;
    }
}

@media (min-width: 600px) {
    div {
        background-color:blue;
    }
}